<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="nav-wrapper">
        <div class="nav-logo">
          <a href="/">Cat Collectors</a>
        </div>
        <div class="nav-bar">
          <a href="/toyCollectors/addToy"> Add a toy</a>
          <a href="/toyCollectors/index"> View All Toys</a>
          <a href="/catCollectors/addCat"> Add a Cat</a>
          <a href="/catCollectors/indexCats">View All Cats</a>
        </div>
      </div>
    </header>
    <main class="container">
      <h1>Cat List</h1>
      <% cats.forEach(function(cat){ %>
      <a href="/catCollectors/showCat/<%=cat.id%>">
        <div class="card">
          <div class="card-content">
            <span><%=cat.name%></span>
            <p>Breed:<%=cat.breed%></p>
            <p>Description:<%=cat.description%></p>
            <p>Age:<%=cat.age%></p>
          </div>
        </div>
      </a>
      <% })%>
    </main>
  </body>
</html>
