<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/cattoy.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="nav-wrapper">
        <div class="nav-logo">
          <a href="/">Cat Collectors</a>
        </div>
        <div class="nav-bar">
          <a href="/toys/addToy"> Add a toy</a>
          <a href="/toys/index"> View All Toys</a>
          <a href="/catCollectors/addCat"> Add a Cat</a>
          <a href="/catCollectors/indexCats">View All Cats</a>
        </div>
      </div>
    </header>
    
    <main class="container">
      <h1>Cat Details</h1>
      <div class="row">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><%= cat.name%></span>
            <p>Breed:<%= cat.breed%></p>
            <p>Description:<%= cat.description%></p>
            <p>Age:<%=cat.age%></p>
          </div>
          <form
            action="/catCollectors/showCat/<%=cat.id%>?_method=DELETE"
            method="POST"
          >
            <a href="/catCollectors/showCat/<%=cat.id%>/editCat" id="edit"> Edit</a>
            |
              <button id="deleteBtn" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <hr>
      <div class="row_wrapper">
      <div>
        <div class="wrapper">
          <h3><%=cat.name%>'s Toys</h3>
          <% if(join === undefined){%>
            <div class="card">
              <div class="card-content">
                <h3>There is no toy yet</h3>
              </div>
            </div>
            <%} else {%>
              <%join.cat_toy.forEach(function(e){%>
                <div class="card full-card">
                  <div class="card-content">
                    <h3><%=e.toys%></h3>
                  </div>
                </div>
                <%})%>
                <%}%>
              </div>
            </div>
            <div class="wrapper toyForm">
              <h3>Available Toys</h3>
              <% toy.forEach(function(t){%>
                <div class="js">
                  <div class="card ">
                    <div class="card-content">
                      <h4><%=t.name%></h4>
                    </div>
                    <form action='/toys/<%=t.id%>/catCollectors/<%=cat.id%>' method="POST">
                      <input class="toyName" type="text" name="toyName" value="<%=t.name%>" hidden>
                      <input type="text" name="toy_id" value="<%=t.id%>" hidden>
                      <button class="submit">Add</button>
                    </form>
                  </div>
                  <% })%>
                </div>
              </div>
            </div>
    </main>
  </body>
</html>
